.coffee-mask
  .coffee-wrap
    .getcoffee
      p 能留点鼓励的话就更好啦
      span 支付宝 <br/>
        img(src='/blog/images/alipay.jpg', alt="支付宝")
      span 微信 <br/>
        img(src='/blog/images/weixin.jpg', alt="微信")

