.coffee-footer
  .coffee-wrap
    .getcoffee
      p 支持☕️
      span <br/>
        img(src='/blog/images/alipay.jpg', alt="支付宝")
      span <br/>
        img(src='/blog/images/weixin.jpg', alt="微信")

