header.container#header
  .header
    .header-left
      .avatar
        img(src=theme.avatar)
      .author
        div.author-name
          a(href="/")=theme.author
        div.about-me=theme.aboutme

    .header-right
      ul.navigation
        li
          a.coffee 打赏
        li
          a(href="https://peing.net/zh-CN/139ccb8bc4e511", target="_blank") 提问箱
        //- each link, text in theme.menu
        //-   li
        //-     a(href=link, target="_blank")=text
            
    include ./aboutme.pug
    include ./coffee.pug
