if theme.leancloud_visitors.enable
  != js('https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js')
  != js('https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js')
  script
    | AV.initialize('!{theme.leancloud_visitors.app_id}', '!{theme.leancloud_visitors.app_key}');
  != js('script/leancloud')

